# P3. Exploration SQL

Le répertoire `/db` contient une base de données SQLite3 `olympics.sqbpro` reprenant les résultats des épreuves des jeux d'été pour une période donnée (cf P1 & P2).

On s'intéresse dans le cadre de cette partie P3 à l'exploration via SQL des résultats des JO d'été (table : `summer`).

---

### Question 1: Qu'est ce que SQL ?

 **SQL (Structured Query Langage)** est un langage de base de *données relationnelle*. Il permet:

    - La création de base et des tables.
    - L'ajout d'enregistrements sous forme de lignes.
    - L'interrogation de la base.
    - La mise à jour.
    - Le changement de structure de la table: ajout, suppression de colonnes.
    - La gestion de droits d'utilisateurs de la base.

### Question 2: Qu'est ce que SQLite 3 ? Avantages et/ou Inconvénients ?

**SQLite est un système de base de données** qui a la particularité de fonctionner sans serveur, on dit aussi "standalone"* ou *"base de données embarquée".

Les principaux **inconvénients** de SQLite par rapport à MySQL sont :

- écritures atomiques (avec SQLite, un seul processus peut écrire dans la base)
- pas de réplication
    
**Les Avantages** : 

- ce qu'il faut bien garder à l'esprit, c'est que SQLite n'est pas vraiment un concurrent des serveurs de base de données relationnelles.

- SQLite peut aussi s'avérer très utile sur un site web pour créer des fonctionnalités qui ne sont pas directement liées au site évitant ainsi de polluer la base de données principale (fonctionnant sur MySQL par exemple) avec des données temporaires.

- L'autre avantage est la simplicité : il n'y a aucune manipulation à faire, le fichier sqlite est créé automatiquement à la volée, toute la base est stockée dans un fichier unique qu'il est facile d'échanger en FTP...

### Question 3: Donner des exemples d'autres formats de fichier pouvant être utilisé pour fournir des données similaires

**.CSV / .XLM / .SQLITEDB / .DB / .SQLITE3 / .SQL**

### Question 4: Quel est le type (texte ou binaire) du fichier base de données SQLite3?

Le fichier `olympics.sqbpro` est un fichier **binaire**

### Question 5: Donner les caractéristiques de la table `summer` ?

**Year / City / Sport / Discipline / Athlete / Country / Gender / Event / Medal**

---
### Question 6: Combien d'enregistrements possède la table `summer` ?

In [ ]:
SELECT count (*)
FROM summer;

Résultat: **31165**

### Question 7: Quelle période des JO couvre ce fichier de résultats ?

In [ ]:
SELECT min(Year), max(Year)
FROM summer;

Résultat: **De 1896 à 2012**

### Question 8: Indiquer les années et villes des olympiades ?

In [ ]:
SELECT DISTINCT Year, City
FROM summer

In [ ]:
1896    Athens
1900    Paris
1904    St Louis
1908    London
1912    Stockholm
1920    Antwerp
1924    Paris
1928    Amsterdam
1932    Los Angeles
1936    Berlin
1948    London
1952    Helsinki
1956    Melbourne / Stockholm
1960    Rome
1964    Tokyo
1968    Mexico
1972    Munich
1976    Montreal
1980    Moscow
1984    Los Angeles
1988    Seoul
1992    Barcelona
1996    Atlanta
2000    Sydney
2004    Athens
2008    Beijing
2012    London

### **Questions des apprenants:**

### **1)** Combien la **France** a remporté de médailles d’**Or** aux JO de **1984** ? (*Christophe*)

In [ ]:
-SELECT count (*)
FROM summer
WHERE Year = 1984 AND country = "FRA" AND Medal= "Gold"--

*Résultat* : **21**

![Q1](screenshots/q1.png)

### 2- Quel pays a le plus d'athlètes tout pays confondu (Matthias)###

In [ ]:
SELECT country, count (DISTINCT Athlete) as nAthlete
FROM summer
GROUP BY Country
ORDER BY nAthlete DESC
LIMIT 1

In [ ]:
Résultat : 3149

In [ ]:
![Q2](./screenshots/q2.png)

In [ ]:
# 3- En 2012,combien de médailles le Japon a-t-il gagné ? (Théo)

In [ ]:
SELECT count(Medal) as nMedal
FROM summer
WHERE country = "JPN" AND Year = 2012

In [ ]:
![Q3](./screenshots/q3.png)

In [ ]:
# 4 - Dans quels différents sports les Grecs ont ils gagnés des médailles ?

In [ ]:
SELECT Sport
FROM summer
WHERE Country = "GRE"
GROUP BY Sport

In [ ]:
![Q4](./screenshots/q4.png)

In [ ]:
# 5 - Quel Pays a remporté le plus de médailles d'or (Philippe)

In [ ]:
SELECT Country, count(Medal) 
FROM summer
WHERE Medal = "Gold"
GROUP BY Country
ORDER BY count(MEDAL) DESC
LIMIT 1

In [ ]:
Résultat : USA avec 2235

![Q5](screenshots/q5.png)

In [ ]:
# 6 - Combien de villes différentes ont accueuillis les JO d'été entre 1896 et 2012 ? (Yoann)

In [ ]:
SELECT count(DISTINCT City) 
FROM summer

In [ ]:
résultat : 22

![Q6](screenshots/q6.png)

In [ ]:
# 7 - Combien de femmes ont obtenues une médaille d'or (Lamia)

In [ ]:
SELECT count(Gender) 
FROM summer
WHERE Gender = "Women" AND Medal = "Gold"

In [ ]:
résultat : 2788

In [ ]:
![Q7](./screenshots/q7.png)

In [ ]:
# 8 - Combien de sports différents sont représentés par année (Joris)

In [ ]:
SELECT year, count(DISTINCT Sport) as nombreSports
FROM summer
GROUP BY Year

In [ ]:
Résultat :

In [ ]:
![Q8](./screenshots/q8.png)

In [ ]:
# 9 - Combien de fois Londres a acceuilli les JO (Marvin)

In [ ]:
SELECT count(DISTINCT year) as LondresAcceuil
FROM summer
WHERE City = "London"

In [ ]:
Résultat : 3

In [ ]:
![Q9](./screenshots/q9.png)

In [ ]:
# 10 - Combien de joueuses comptait la séléction brésilienne de volley-ball médaillées d'or au JO 2012 ? (Cor P)

In [ ]:
SELECT count(Athlete)
FROM summer
WHERE Gender = "Women" AND Country = "BRA" AND Medal = "Gold" AND Year = "2012" AND Sport = "Volleyball"

In [ ]:
# 11 - Combien de femmes francaises ont gagné en 2012, quels sont leurs médailles ? (izak)

In [ ]:
#Premiere partie : Combien de femmes ont gagné en 2012
SELECT count (DISTINCT Athlete) 
FROM summer
WHERE Gender = "Women" AND Country = "FRA" AND Year = "2012"

In [ ]:
Résultat : 29

In [ ]:
#Deuxieme partie : Quelles sont leur médaille ?
SELECT Medal, Athlete
FROM summer
WHERE Gender = "Women" AND Country = "FRA" AND Year = "2012"

In [ ]:
# 12 - Quel est l'athlète qui a remporté le plus de médaille d'or ? (Mayel)

In [ ]:
SELECT Athlete, count(Medal) AS nMedal
FROM summer
WHERE Medal = "Gold"
GROUP BY Athlete 
ORDER BY nMedal DESC
LIMIT 1

In [ ]:
Michael Phelps 18

In [ ]:
# 13 - Est ce que la France a déjà gagné une médaille d'or au criquet ? (Jordan)

In [ ]:
SELECT Country, Medal, Sport, count (Medal)
FROM summer
WHERE Country = "FRA" AND Medal = "Gold" AND Sport = "Cricket"

In [ ]:
Résulktat 0

In [ ]:
# 14 - Combien de médaillés ont un nom de famille de plus de 6 lettres en excluant les années paires ? (Jonathan)

Question involontairement insolvable. Merci moi..

In [ ]:
# 15 - Le nombre de médaillés d'or par pays en 2012 ? (Maelle)

In [ ]:
SELECT Country, count (Medal) AS nMedals
FROM summer
WHERE Medal = "Gold" AND Year = 2012
GROUP BY Country
ORDER BY nMedals DESC

In [ ]:
# 16 - Combien de femmes ont remporté des médailles ? (Alicia)

In [ ]:
SELECT count (DISTINCT Athlete) AS FemmesVainqueuzes
FROM summer
WHERE Gender = "Women"

In [ ]:
5838

In [ ]:
# 17- Entre 1984 et 2012, combien de médailles a gagné la France ?

In [ ]:
SELECT count(Medal) as nMedal
FROM summer
WHERE country = "FRA" AND Year BETWEEN '1984' AND '2012'

In [ ]:
Résultat : 482

In [ ]:
![Q17](./screenshots/q17.png)

Fin